<a href="https://colab.research.google.com/github/alanmejiaa/Aprendizale-Automatico/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Tarea en clase*

Cargar conjunto de datos mediante pandas.
Especificar el tipo de datos de cada columna.
Si es necesario, asignar una columna como índice.

In [34]:
import pandas as pd
from IPython.display import Markdown

In [35]:
datos = pd.read_csv('skudata.csv')
sku_datos = pd.DataFrame(datos)
#se importan los datos

In [36]:
sku_datos

,SKU,PART_NUMBER,DESCRIPTION,L13UnitsTotal,_28,AVG_BASE_COST58,Category,Sub_Category,Brand
0,348186,AF1217M,AF VALUCRAFT 17 GAL,1097507,125,38,ANTIFREEZE,AUTOZONE AF,VALUCRAFT
1,466002,BT-1ASP,CONNECTOR GREASE,891483,22,3,SEALANTS ADHESIVES,SINGLE USE,AGS
2,541353,30020A,LUCAS FUEL INJ CLNR 5OZ,667941,129,58,PERFORMANCE CHEMICALS,FUEL ADDITIVES,LUCAS
3,466005,SP-1ASP,SPARK PLUG BOOT PR,544646,22,4,SEALANTS ADHESIVES,SINGLE USE,AGS
4,441310,3403,NGK G-POWER SPARK PLUG,477564,67,29,SPARK PLUGS,VALUE PREMIUM,NGK
...,...,...,...,...,...,...,...,...,...
295,417864,XP5683,AUTOLITE IRIDIUM P,63061,179,88,SPARK PLUGS,HIGH - LEVEL PREMIUM,AUTOLITE
296,695777,75041731,ORBIT 4S MINT,62929,5,2,CONSUMER GOODS,CANDY AND SNACKS,NUXXO
297,252905,AZMULTIV1,AZ MULTI-VEHICULO 946ML,62929,199,77,OIL ATF,ATF,AUTOZONE
298,835366,BW7000ML,BUG WASH PRESTONE LT,62851,51,14,FLUID AND SEASONAL,WINDSHIELD WASH,PRESTONE
299,686199,APP5363,AUTOLITE DOUBLE PLAT,62810,105,41,SPARK PLUGS,MID - LEVEL PREMIUM,AUTOLITE

*Columnas*

SKU: Identificador de producto unido. entero

PART_NUMBER: Identificador de producto unico dado por el proveedor. caracter

Description: Descipcion del producto. caracter

L13UnitsTotal: Numero de unidades vendidas en el ultimo ano. entero

_28: AUR, precio promedio por unidad. float

AVG_BASE_COST58: AUC, costo promedio por unidad. float

Category: Una clasificacion de los productos. caracter

Subcategory: Una sub clasificacion de los productos. caracter

Brand: Marca del producto. caracter

*Tarea*

Crear, modificar o eliminar columnas.
Filtrar registros.
Crear subconjuntos de datos.
Crear grupos de datos.

In [37]:
sku_datos = sku_datos.copy()
#copiamos la data

In [38]:
# Eliminar la columna de numero de parte y mostrar solo los primeros 3
sku_datos = sku_datos.drop(columns = 'PART_NUMBER' )
sku_datos.head(3)

,SKU,DESCRIPTION,L13UnitsTotal,_28,AVG_BASE_COST58,Category,Sub_Category,Brand
0,348186,AF VALUCRAFT 17 GAL,1097507,125,38,ANTIFREEZE,AUTOZONE AF,VALUCRAFT
1,466002,CONNECTOR GREASE,891483,22,3,SEALANTS ADHESIVES,SINGLE USE,AGS
2,541353,LUCAS FUEL INJ CLNR 5OZ,667941,129,58,PERFORMANCE CHEMICALS,FUEL ADDITIVES,LUCAS

In [42]:
# Filtramos la base de datos
# Filtramos SKUs que tengan mas 600,000 unidades al ano y cuesten en promedio menos de 15 pesos
category_units = sku_datos[(sku_datos['_28'] < 15) & (sku_datos['L13UnitsTotal']< 600000)]
f_category_units = pd.DataFrame(category_units)
f_category_units

,SKU,DESCRIPTION,L13UnitsTotal,_28,AVG_BASE_COST58,Category,Sub_Category,Brand
95,833006,E PURA 600ML PET,142666,13,6,CONSUMER GOODS,DRINKS,EPURA
272,202342,PULPARINDOTS,67874,13,4,CONSUMER GOODS,CANDY AND SNACKS,NUXXO
296,695777,ORBIT 4S MINT,62929,5,2,CONSUMER GOODS,CANDY AND SNACKS,NUXXO

In [54]:
# Creamos un subconjunto de datos con unicamente las Columnas SKU, Descripcion y la marca
subcon = f_category_units[['SKU', 'DESCRIPTION', 'Brand', 'L13UnitsTotal']]
f_subcon = pd.DataFrame(subcon)
f_subcon

        SKU       DESCRIPTION  Brand  L13UnitsTotal
95   833006  E PURA 600ML PET  EPURA         142666
272  202342      PULPARINDOTS  NUXXO          67874
296  695777     ORBIT 4S MINT  NUXXO          62929

In [55]:
# Vamos agrupar cuanto fue las unidades que se vendieron por marca con los filtros anteriores
grupo = f_subcon.groupby(['Brand'])[['L13UnitsTotal']].sum()
grupo

       L13UnitsTotal
Brand
EPURA         142666
NUXXO         130803